* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Dosis', sans-serif;
    /* padding: 2%; */
}

.outer-grid {
    display: grid;
    height: 100vh;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 90px 1fr;
    grid-template-areas: 
        "alias-header alias-header"
        "alias-innergrid alias-innergrid";
}

.outer-grid-expanded {
    grid-template-areas: 
    "alias-header alias-header"
    "alias-nav alias-innergrid";
}

header {
    grid-area: alias-header;
    background-color: rgba(0, 31, 255, 0.5);
}

nav {
    grid-area: alias-nav;
    background-color: rgba(0, 31, 255, 0.8);
}

.inner-grid {
    grid-area: alias-innergrid;
    background-color: rgba(0, 31, 255, 0.2);
}

.hide-nav {
    display: none;
}

@media (min-width: 576px){
    
    .hide-nav {
        display: block;
    }

    .outer-grid {
        grid-template-areas: 
        "alias-header alias-header"
        "alias-nav alias-innergrid"; 
    }

    .fa-bars {
        display: none;
    }
}